header {
    width: 100%;
    background-color: white;
}
.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
}
.box-logo {
    width: 119px;
    height: 13px;
    background-color: #999999;
}
.actions {
    display: flex;
    gap: 10px;
}
@media screen and (max-width:500px) {
    .actions > .btn-icon {
        display: none;
        
    }
    .actions > button:first-child {
        margin-right: px;
    }
    .actions * {
        width: 72px;
    }

}