@import url(./css/header.css);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
.container {
    width: 956px;
    margin: 0 auto;
}
button {
    background-color: transparent;
    border: none;
    width: 62px;
    height: 27px;
    font-weight: 400;
    font-size: 13px;
    background-color: #D9D9D9;
    
}

